{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

# --- Home Assistant ---
ha.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:8123
}

# --- Vaultwarden ---
vw.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:8081
}

# --- Portainer ---
portainer.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:9000
}

# --- WireGuard Web UI ---
wg.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:51821
}

# --- Stirling PDF ---
pdf.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:8082
}

# --- OpenCode ---
opencode.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:8085
}

# --- OpenChamber ---
openchamber.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:3000
}

# --- qBittorrent (via VPN) ---
torrent.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:8090
}

# --- Adguard ---
adguard.homelab.548796327.xyz {
    reverse_proxy 127.0.0.1:3005
}
